// addons and other mixens
@import "mixins";

// base font size for rem calculation
$base-font-size: 16px;

// color variables
$black: #232323;
$white: #fff;
$primary: #02C5FD;
$primary_shadow: #007FA4;
$secondary: #F7931B;

// universal variables
$box_shadow: -10px 10px 0 0 rgba(0,127,164,0.20);
$border_radius:	5px;
$gap: 40px;

$animate_speed: 200ms;
$animate_ease: ease-out;

// break points
$one_lane: 675px;
$two_lanes: 990px;
$three_lanes: 1220px;
$four_lanes: 1920px;